<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DrawUI2.0/src/ini_DRAWPLATE/Drawer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ini_DRAWPLATE.Drawer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DrawUI2.0"/>
</launchConfiguration>
